@charset "UTF-8";
a:hover{
	color:black;
	text-decoration : none;
}
.two{
 	display:none;
} 
.four{
 	display:none;
}
.container{
	padding-left: 0;
}
footer p{
	padding-bottom:80px;
}

.page-item{
	display:inline-block;
}
.left{
	padding-left:185px;
}
.page-link{
	color:#000;
}